body { padding: 0 !important; }
#cms-content ul {margin-left: .75em; }
#cms-content a { color: #1F65A0; text-decoration: none;}
a.btn.btn-primary, .btn.btn-primary a { color: #fff !important;}
a.btn.btn-default, .btn.btn-default a { color: #333 !important; }
#cms-header .cms-navigation ul { margin-bottom: 0 !important; }
.container { width: 100% !important; max-width: 100% !important; }
.panel-body .alert.alert-info.margin-top-med { display: none }
#docdel-contact p {float: left;}
div#s-lg-index-cols { font-size: .9em;}
ul.s-lg-guide-list { padding-left: 0 !important; margin-left: 0 !important; list-style: none; }
ul.s-lg-guide-list li {border-bottom: 1px solid #eee;}
ul.nav.nav-tabs, #s-lg-guide-header-attributes { margin-left: 0 !important; font-size: .85em;}
#s-lg-tabs-container .nav-tabs > li > a, #s-lg-tabs-container .nav-pills > li > a { font-weight: normal; }
h2.s-lib-box-title { font-size: 1.4em !important;}
.s-lib-box-content p,
.s-lib-box-content li,
.s-lib-box-content a { font-family: Arial, sans-serif !important; }
.s-lib-box-content p { line-height: 1.3em !important; font-size: 1em !important; color: #333;}
.s-lib-box-content p span,
.s-lib-box-content p a,
.s-lib-box-content ul li,
.s-lib-box-content font 
 { font-size: 16px !important; }
.s-lib-box-content p span,
.s-lib-box-content ul *,
.s-lib-box-content div { color: #333 !important; }
.s-lib-box-content a { color: #0065a4 !important; }
.s-lg-er-item-list, .s-lg-link-list, .s-lg-rss-list, .s-lg-system-list { padding-left: 0 !important; }
/*.chosen-container { position: static; }*/
.s-lg-az-result, .s-lg-az-trial { border: none !important; }
.s-lg-db-panel { margin-bottom: 0;}
a#s-lg-az-reset {float: right;}
#library-chat a {
	padding: .65em .85em .65em 3em !important;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA8klEQVQ4y2NgoAWIPhHNl3I6xSH1TGoRkK5KPpXskXgoUZQYvYxATRmpp1M/pZ1J+4+Gf6WeSm323ObJjlNz2um0TVg0omCgBRdjd8ZyY+gGai4kpBnJkFkompOPJQsBJX4QawAIp5xIMYYbkHoy1Z0UzWADTqcUIDu/GqtTT6fi88YSZANySHUBUM8URBicTjYj2YAzafFwA0JXhbIBnXuP6FgAppOkI0lSqDFxOtkaKPGHqAA8lZKINSUBU1oqUMFXPDb/AQZeG960nHQ6SQmoaB1QwzukEP8CpPcBLTAlKVMlHE9QAGrUYGhgYGKgFQAAoot2F4Rm8VoAAAAASUVORK5CYII=') !important;
	background-position: 10% 50%;
	background-repeat: no-repeat;
}
#s-lg-submap-frm .chosen-container {
    position: relative;
}
#cms-body-inner {
    overflow: visible;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover { color: #fff !important; }

/* LibGuides' Bootstrap and Campus Bootstrap don't like each other! */
.s-lib-box .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.s
