body { padding: 0 !important; }
#cms-content ul {margin-left: .75em; }
#cms-content a{ color: #1F65A0; text-decoration: underline;}
a.btn.btn-primary, .btn.btn-primary a { color: #fff !important; text-decoration: none;}
a.btn.btn-default, .btn.btn-default a { color: #333 !important; text-decoration: none; }
#cms-header .cms-navigation ul { margin-bottom: 0 !important; }
.container { width: 100% !important; max-width: 100% !important; }
.panel-body .alert.alert-info.margin-top-med { display: none }
#docdel-contact p {float: left;}
div#s-lg-index-cols { font-size: .9em;}
ul.s-lg-guide-list { padding-left: 0 !important; margin-left: 0 !important; list-style: none; }
ul.s-lg-guide-list li {border-bottom: 1px solid #eee;}
ul.nav.nav-tabs, #s-lg-guide-header-attributes { margin-left: 0 !important; font-size: .85em;}
#s-lg-tabs-container .nav-tabs > li > a, #s-lg-tabs-container .nav-pills > li > a { font-weight: normal; text-decoration: none;}
h2.s-lib-box-title { font-size: 1.4em !important;}
.s-lib-box-content p,
.s-lib-box-content li,
.s-lib-box-content a { font-family: Arial, sans-serif !important; }
.s-lib-box-content p { line-height: 1.3em !important; font-size: 1em !important; color: #333;}
.s-lib-box-content p span,
.s-lib-box-content p a,
.s-lib-box-content ul li,
.s-lib-box-content font
 { font-size: 16px !important; }
.s-lib-box-content p > span,
.s-lib-box-content ul *,
.s-lib-box-content div { color: #333 !important; }
.s-lib-box-content a,
.s-lib-box-content a > span,
.s-lib-box-content a > i,
.s-lib-box-content a > b,
.s-lib-box-content a > strong,
.s-lib-box-content a > em  { color: #0065a4 !important; }
.s-lg-er-item-list, .s-lg-link-list, .s-lg-rss-list, .s-lg-system-list { padding-left: 0 !important; }
/*.chosen-container { position: static; }*/
.s-lg-az-result, .s-lg-az-trial { border: none !important; }
.s-lg-db-panel { margin-bottom: 0;}
a#s-lg-az-reset {float: right;}

#s-lg-submap-frm .chosen-container {
    position: relative;
}
#cms-body-inner {
    overflow: visible;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover { color: #fff !important; }

/* LibGuides' Bootstrap and Campus Bootstrap don't like each other! */
.s-lib-box .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.checkbox input[type="checkbox"],
.checkbox-inline inpud[type="checkbox"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
	position: absolute;
	margin-top: 4px;
	margin-left: -20px;
}
.s-lg-poll-title legend {
  font-family: Arial,sans-serif;
  font-size: 16px;
}
.s-lib-profile-container .s-lib-profile-email a {
    color: #fff !important;
    text-decoration: none !important;
}
.label-info {
    background-color: #1F65A0 !important;
}
span.disabled {
    display: block;
    background-color: #fcf8e3 !important;
    padding: .5em !important;
    border: 1px solid #faebcc !important;
}
.s-lib-box .s-lib-box-title {
    /* Improve color contrast for headings for accessibility */
    color: #575757;
}
.badge {
    background-color: #333 !important;
}
.navbar-default .navbar-brand,
.s-lib-color-lt-grey {
    color: #333 !important;
}

button.btn.btn-primary {
    color: #fff !important;
}
iframe {
    border: 0 !important;
}
#cms-footer ul li h3 {
    font-family: AlternateGothicFSNo3,Arial,sans-serif;
    letter-spacing: 1px;
    color: #fff;
    font-size: 1.5em;
    font-weight: 400;
    padding-bottom: 2px;
}
@media screen and (max-width: 992px) {
    .col-md-4 { width: 100% !important; }
}

/* CK Editor - hide nefarious WYSIWYG options */
.cke_combo__styles,
.cke_combo__font,
.cke_combo__fontsize,
.cke_button__textcolor,
.cke_button__bgcolor {
    display: none !important;
}
.site .library-nav a,
.library-hours p a {
    text-decoration: underline !important;
}
.library-hours li.row { margin-left: 0 !important; margin-right: 0 !important; }